@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Space Mono', monospace !important;
    background-color: #121212;
    color: #f1f1f1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar {
    width: 80px;
    background-color: #1f1f1f;
}

.sidebar .nav-link {
    color: #ccc;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #333;
    color: #fff;
}

.pagination .page-link {
    background-color: #1a1a1a;
    color: #FF4433;
    border: 1px solid #333;
}

.pagination .page-item.active .page-link {
    background-color: #FF4433;
    color: white;
    border: none;
}

.pagination .page-link:hover {
    background-color: #333;
    color: white;
}
