@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Space mono", monospace !important;
    background-color: #121212;
    color: #f1f1f1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #ff4333 !important;
}

.sidebar {
    width: 80px;
    background-color: #1f1f1f;
}

.sidebar .nav-link {
    color: #ccc;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: #333;
    color: #fff;
}

.cke_contents {
    background-color: #1a1a1a !important;
    color: #f1f1f1 !important;
}
